/* #click_on{
    border-radius: 25%;
    background-color: aqua;
    padding: 14px;
    text-decoration: none;
*/

.nav-link.active{
    background-color: cyan;
    margin: 10px;
    padding: 10px;
}