/* #click_on{
    border-radius: 25%;
    background-color: aqua;
    padding: 14px;
    text-decoration: none;
*/

.nav-link.active{
    background-color: cyan;
    margin: 10px;
    padding: 10px;
}

#mouse {
    margin: 5px;
    padding: 5px;
    background-color: blueviolet;
    width: 50px;
}

.nav-link.active{
    background-color: brown;
    margin: 10px;
    padding: 10px;
}
.tab-pane {
display: none;
}
.tab-pane.active{
    display: block;
}
